<ng-container *ngIf="cartItems.length > 0; else emptyCart">
  <div class="cart-page-container">
    <div class="cart-header">
      <h3>Shopping Cart</h3>
    </div>
    <div class="remove-all">
      <button (click)="clearCart()">Remove All</button>
    </div>
    <div class="cart-items">
      <app-cart
        [items]="cartItems"
        (increment)="handleIncrement($event)"
        (decrement)="handleDecrement($event)"
        (delete)="deleteItem($event)"
      >
      </app-cart>
    </div>
    <div class="cart-total">
      <div>Total Items: {{ totalItems }}</div>
      <div>Total: £{{ total.toFixed(2) }}</div>
    </div>
    <button routerLink="/checkout" class="checkout-btn">Proceed to Checkout</button>

<!--     <button routerLink="/payment" class="checkout-btn">Proceed to Checkout</button> -->
   
  </div>
</ng-container>

<ng-template #emptyCart class="">
  <div class="empty-cart-container">
    <p class="empty-cart-message fs-1">Your cart is Empty</p>
    <a routerLink="/products" class="shop-now-btn">Shop Now</a>
  </div>
</ng-template>
