<div class="w-75 d-flex justify-content-center row m-3 mx-auto">
<h1>Shopping Form</h1>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="m-2">
  
  <label class="floatingInput" for="email">Email</label>
  <input class="form-control mb-4 border-2" formControlName="email" placeholder="email" />
  <label for="phone">Phone</label>
  <input class="form-control mb-4 border-2" formControlName="phone" placeholder= "phone number" />
  <label for="city">City</label>
  <select class="form-select mb-4 border-2" name="governorate">
  <option value="Alexandria">Alexandria</option>
  <option value="Aswan">Aswan</option>
  <option value="Asyut">Asyut</option>
  <option value="Beheira">Beheira</option>
  <option value="Beni Suef">Beni Suef</option>
  <option value="Cairo">Cairo</option>
  <option value="Dakahlia">Dakahlia</option>
  <option value="Damietta">Damietta</option>
  <option value="Faiyum">Faiyum</option>
  <option value="Gharbia">Gharbia</option>
  <option value="Giza">Giza</option>
  <option value="Ismailia">Ismailia</option>
  <option value="Kafr El Sheikh">Kafr El Sheikh</option>
  <option value="Luxor">Luxor</option>
  <option value="Matrouh">Matrouh</option>
  <option value="Minya">Minya</option>
  <option value="Monufia">Monufia</option>
  <option value="New Valley">New Valley</option>
  <option value="North Sinai">North Sinai</option>
  <option value="Port Said">Port Said</option>
  <option value="Qalyubia">Qalyubia</option>
  <option value="Qena">Qena</option>
  <option value="Red Sea">Red Sea</option>
  <option value="Sharqia">Sharqia</option>
  <option value="Sohag">Sohag</option>
  <option value="South Sinai">South Sinai</option>
  <option value="Suez">Suez</option>
</select>
<label for="zipcode">Zip Code</label>
<input class="form-control mb-4 border-2" formControlName="zip code" placeholder="Zip Code" >
<label for="payment method">Payment Method</label>
  <select class="form-select mb-4 border-2" formControlName="method">
    <option value="fawry">Fawry</option>
    <option value="cod">On Delivery</option>
  </select>
  <button type="submit" class="btn btn-outline-success w-25">Pay Now</button>
</form>
</div>
