<!-- <img class="item-image" [src]="item.image" [alt]="item.name"> -->

<div class="item-details">
  <h4>{{ item.name }}</h4>
  <p>£{{ item.price }}</p>
</div>

<div class="quantity-controls">
  <button (click)="decrement.emit()">-</button>
  <span>{{ item.quantity }}</span>
  <button (click)="increment.emit()">+</button>
</div>

<div class="item-total">
  £{{ item.price * item.quantity }}
</div>

<button class="remove-btn" (click)="delete.emit()">
  <img src="assets/icons/trash.png" alt="Remove item">
</button>
