<div>
  <div class="aboutusHeader">
    <img src="assets/images/about.jpg" alt="aboutuspage" />
    <div class="d-flex row txt">
      <h2>About Us</h2>
      <p>
        At HomeElegance, we offer stylish and comfortable furniture to make your
        home truly yours. From sofas to dining sets, our pieces combine quality,
        design, and affordability. We’re here to help you create a home you
        love.
      </p>
    </div>
  </div>
  <div class="section-2">
    <div class="left-section">
      <img src="assets/images/aboutus2.jpg" alt="" />
    </div>
    <div class="right-section">
      <h2>Woodora</h2>
      <p>
        Welcome to Woodora  your trusted destination for modern, elegant, and
        affordable home furniture. We help you turn your house into a cozy,
        stylish home one piece at a time.
      </p>
      <h4>Opening Hour</h4>
      <div class="workingHour">
        <p>Monday-Friday</p>
        <p>09:00 - 20:00</p>
      </div>
       <div class="workingHour">
        <p>Saturday-Sunday</p>
        <p>12:00 - 20:00</p>
      </div>
      <div class="icons">
        <img src="assets/images/facebook.png" alt="">
        <img src="assets/images/instagram.png" alt="">
        <img src="assets/images/linkedin.png" alt="">
      </div>
    </div>
  </div>
</div>
