    <footer class="site-footer">
      <div class="footer-container">
        <div class="footer-content">
          <div class="footer-section">
            <h3>Victorian Elegance</h3>
            <p>Preserving the beauty and craftsmanship of the Victorian era for modern homes since 1985.</p>
            <div class="social-links">
              <a  aria-label="Facebook"><img class="cart-icon" width="24" height="24" src="assets/icons/facebook.svg" alt=""></a>
              <a  aria-label="Instagram"><img class="cart-icon" width="24" height="24" src="assets/icons/instagram.svg" alt=""></a>
              <a  aria-label="youtube"><img class="cart-icon" width="24" height="24" src="assets/icons/youtube.svg" alt=""></a>
            </div>
          </div>

          <div class="footer-section">
            <h4>Quick Links</h4>
            <ul>
              <li><a routerLink="/home">Home</a></li>
              <li><a routerLink="/products">Products</a></li>
              <li><a routerLink="/aboutus">About Us</a></li>
              <li><a routerLink="/contactus">Contact</a></li>
            </ul>
          </div>

          <div class="footer-section">
            <h4>Categories</h4>
            <ul>
              <li><a routerLink="/products/dining-room">Dining Room</a></li>
              <li><a routerLink="/products/bedroom">Bedroom</a></li>
              <li><a routerLink="/products/living-room">Living Room</a></li>
              <li><a routerLink="/products/kitchen">Kitchen</a></li>
            </ul>
          </div>

          <div class="footer-section">
            <h4>Contact Info</h4>
            <p><img class="footer-icon" width="24" height="24" src="assets/icons/location.svg" alt="">ITI El-Arish </p>
            <p><img class="footer-icon" width="24" height="24" src="assets/icons/phone.svg" alt="">+44 20 7123 4567</p>
            <p><img class="footer-icon" width="24" height="24" src="assets/icons/mail.svg" alt="">info&#64;victorianelegance.com</p>
          </div>
        </div>

        <div class="footer-bottom">
          <p>&copy; 2024 Victorian Elegance. All rights reserved.</p>
          <div class="footer-links">
            <a >Privacy Policy</a>
            <a >Terms of Service</a>
            <a >Shipping Policy</a>
          </div>
        </div>
      </div>
    </footer>
